@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>CSI Media Test</h1>
    <p class="lead">@Html.ActionLink("Random Numbers Table", "Index", "RandomNumbers")</p>
</div>

<div class="row">
    <div class="col-md-12">
        <h2>Assumptions and decisions</h2>
        <p>
            Assumptions and descisions are documented on the projects README page on GitHub
        </p>
        <p><a class="btn btn-default" href="https://github.com/BottomleyIan/CsiTest">README</a></p>
    </div>
</div>